body {
  background-color: #f7f9fc;
  font-family: Arial, Helvetica, sans-serif;

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
  size: 20;
  background-color: #4a90e2;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0px 5px 5px;
  border-radius: 6px;
  border-width: thick;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

input[type='text'] {
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 4px;
}
